<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>@ViewBag.Title</title>
</head>
<body class="body-login">
    <div class="container justify-content-center" style="display:flex; justify-content:center;align-items:center;margin:auto;margin-top: auto ">
        @RenderBody()
    </div>
</body>
</html>